Repository zendeskgarden/react-components: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint, eslint, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write, prettier-package-json --write

replace useEffect with useLayoutEffect
  packages/accordions/.size-snapshot.json
  packages/accordions/src/elements/stepper/components/Step.tsx
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

fix(modals): update container-modal & types
  packages/modals/src/elements/DrawerModal/DrawerModal.tsx
  packages/modals/src/elements/Modal.tsx
  packages/modals/src/elements/TooltipModal/TooltipModal.tsx
  packages/modals/yarn.lock
  tsconfig.json
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

Update story types
  packages/modals/demo/stories/DrawerModalStory.tsx
  packages/modals/demo/stories/ModalStory.tsx
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

Prettier
  packages/modals/src/elements/DrawerModal/DrawerModal.tsx
  packages/modals/src/elements/Modal.tsx
  packages/modals/src/elements/TooltipModal/TooltipModal.tsx
  tsconfig.json
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

fix(stepper): fix render flash with useLayoutEffect (#1303)
  packages/accordions/.size-snapshot.json
  packages/accordions/src/elements/stepper/components/Step.tsx
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

Updates [skip ci]
  iframe.html
  main.87a6966a.iframe.bundle.js
  main.966c4863.iframe.bundle.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

Remove onClose type from story
  packages/modals/demo/stories/DrawerModalStory.tsx
  packages/modals/demo/stories/ModalStory.tsx
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

fix(modals): update container-modal & types (#1304)
  packages/modals/demo/stories/DrawerModalStory.tsx
  packages/modals/demo/stories/ModalStory.tsx
  packages/modals/src/elements/DrawerModal/DrawerModal.tsx
  packages/modals/src/elements/Modal.tsx
  packages/modals/src/elements/TooltipModal/TooltipModal.tsx
  packages/modals/yarn.lock
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

chore(release): publish
  lerna.json
  packages/accordions/.size-snapshot.json
  packages/accordions/package.json
  packages/avatars/.size-snapshot.json
  packages/avatars/package.json
  packages/breadcrumbs/.size-snapshot.json
  packages/breadcrumbs/package.json
  packages/buttons/.size-snapshot.json
  packages/buttons/package.json
  packages/chrome/.size-snapshot.json
  packages/chrome/package.json
  packages/colorpickers/.size-snapshot.json
  packages/colorpickers/package.json
  packages/datepickers/.size-snapshot.json
  packages/datepickers/package.json
  packages/dropdowns/package.json
  packages/forms/.size-snapshot.json
  packages/forms/package.json
  packages/grid/.size-snapshot.json
  packages/grid/package.json
  packages/loaders/.size-snapshot.json
  packages/loaders/package.json
  packages/modals/.size-snapshot.json
  packages/modals/package.json
  packages/notifications/.size-snapshot.json
  packages/notifications/package.json
  packages/pagination/.size-snapshot.json
  packages/pagination/package.json
  packages/tables/.size-snapshot.json
  packages/tables/package.json
  packages/tabs/.size-snapshot.json
  packages/tabs/package.json
  packages/tags/.size-snapshot.json
  packages/tags/package.json
  packages/theming/package.json
  packages/tooltips/.size-snapshot.json
  packages/tooltips/package.json
  packages/typography/.size-snapshot.json
  packages/typography/package.json
  packages/utilities/package.json
Due: prettier-package-json --write

chore(changelog): add v8.49.0 [skip ci]
  CHANGELOG.md
Due: none

fix(buttons): fix precedence boost style bug
  packages/buttons/.size-snapshot.json
  packages/buttons/src/styled/StyledButton.ts
  packages/buttons/src/styled/StyledButtonGroup.spec.tsx
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

fix(buttons): fix precedence boost style bug (#1305)
  packages/buttons/.size-snapshot.json
  packages/buttons/src/styled/StyledButton.ts
  packages/buttons/src/styled/StyledButtonGroup.spec.tsx
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

Updates [skip ci]
  iframe.html
  main.8718fed5.iframe.bundle.js
  main.e3b88ed6.iframe.bundle.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

fix(modals): use auto width for responsive layout
  packages/modals/.size-snapshot.json
  packages/modals/src/styled/StyledModal.spec.tsx
  packages/modals/src/styled/StyledModal.ts
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

fix(modals): add padding to header when close button is present
  packages/modals/.size-snapshot.json
  packages/modals/src/elements/Close.spec.tsx
  packages/modals/src/elements/Close.tsx
  packages/modals/src/elements/DrawerModal/Close.spec.tsx
  packages/modals/src/elements/DrawerModal/Close.tsx
  packages/modals/src/elements/DrawerModal/DrawerModal.tsx
  packages/modals/src/elements/DrawerModal/Header.tsx
  packages/modals/src/elements/Header.tsx
  packages/modals/src/elements/Modal.tsx
  packages/modals/src/styled/StyledClose.ts
  packages/modals/src/styled/StyledDrawerModalClose.ts
  packages/modals/src/styled/StyledDrawerModalHeader.spec.tsx
  packages/modals/src/styled/StyledDrawerModalHeader.ts
  packages/modals/src/styled/StyledHeader.ts
  packages/modals/src/utils/useModalContext.ts
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

Use mediaQuery utility and theme breakpoint
  packages/modals/.size-snapshot.json
  packages/modals/src/styled/StyledModal.spec.tsx
  packages/modals/src/styled/StyledModal.ts
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

fix(modals): address feedback
  packages/modals/.size-snapshot.json
  packages/modals/src/styled/StyledClose.ts
  packages/modals/src/styled/StyledDrawerModalClose.spec.tsx
  packages/modals/src/styled/StyledDrawerModalClose.ts
  packages/modals/src/styled/StyledDrawerModalHeader.spec.tsx
  packages/modals/src/styled/StyledDrawerModalHeader.ts
  packages/modals/src/styled/StyledHeader.spec.tsx
  packages/modals/src/styled/StyledHeader.ts
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

chore(chrome): change case for multipliers variable
  packages/chrome/.size-snapshot.json
  packages/chrome/src/styled/sheet/StyledSheetClose.ts
  packages/chrome/src/styled/sheet/StyledSheetHeader.ts
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

Update packages/modals/src/styled/StyledModal.ts
  packages/modals/.size-snapshot.json
  packages/modals/src/styled/StyledModal.spec.tsx
  packages/modals/src/styled/StyledModal.ts
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

fix(modals): use auto width for responsive layout (#1306)
  packages/modals/.size-snapshot.json
  packages/modals/src/styled/StyledModal.spec.tsx
  packages/modals/src/styled/StyledModal.ts
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

Updates [skip ci]
  iframe.html
  main.e3451c62.iframe.bundle.js
  main.e3b88ed6.iframe.bundle.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

fix: address feedback
  packages/chrome/.size-snapshot.json
  packages/chrome/src/styled/sheet/StyledSheetHeader.ts
  packages/modals/.size-snapshot.json
  packages/modals/src/elements/Close.spec.tsx
  packages/modals/src/elements/DrawerModal/Close.spec.tsx
  packages/modals/src/elements/DrawerModal/Header.spec.tsx
  packages/modals/src/elements/Header.spec.tsx
  packages/modals/src/styled/StyledDrawerModalHeader.ts
  packages/modals/src/styled/StyledHeader.ts
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

chore: update snapshot
  packages/modals/.size-snapshot.json
Due: none

fix: colocate tests
  packages/modals/src/elements/DrawerModal/Header.spec.tsx
  packages/modals/src/elements/Header.spec.tsx
  packages/modals/src/styled/StyledDrawerModalHeader.spec.tsx
  packages/modals/src/styled/StyledHeader.spec.tsx
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

fix(modals): add padding to header when close button is present (#1307)
  packages/chrome/.size-snapshot.json
  packages/chrome/src/styled/sheet/StyledSheetClose.ts
  packages/chrome/src/styled/sheet/StyledSheetHeader.ts
  packages/modals/.size-snapshot.json
  packages/modals/src/elements/Close.tsx
  packages/modals/src/elements/DrawerModal/Close.tsx
  packages/modals/src/elements/DrawerModal/DrawerModal.tsx
  packages/modals/src/elements/DrawerModal/Header.spec.tsx
  packages/modals/src/elements/DrawerModal/Header.tsx
  packages/modals/src/elements/Header.spec.tsx
  packages/modals/src/elements/Header.tsx
  packages/modals/src/elements/Modal.tsx
  packages/modals/src/styled/StyledClose.ts
  packages/modals/src/styled/StyledDrawerModalClose.spec.tsx
  packages/modals/src/styled/StyledDrawerModalClose.ts
  packages/modals/src/styled/StyledDrawerModalHeader.spec.tsx
  packages/modals/src/styled/StyledDrawerModalHeader.ts
  packages/modals/src/styled/StyledHeader.ts
  packages/modals/src/utils/useModalContext.ts
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

Updates [skip ci]
  iframe.html
  main.b3423051.iframe.bundle.js
  main.e3451c62.iframe.bundle.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

chore(release): publish
  lerna.json
  packages/accordions/.size-snapshot.json
  packages/accordions/package.json
  packages/avatars/.size-snapshot.json
  packages/avatars/package.json
  packages/breadcrumbs/package.json
  packages/buttons/.size-snapshot.json
  packages/buttons/package.json
  packages/chrome/.size-snapshot.json
  packages/chrome/package.json
  packages/colorpickers/.size-snapshot.json
  packages/colorpickers/package.json
  packages/datepickers/.size-snapshot.json
  packages/datepickers/package.json
  packages/dropdowns/package.json
  packages/forms/.size-snapshot.json
  packages/forms/package.json
  packages/grid/.size-snapshot.json
  packages/grid/package.json
  packages/loaders/.size-snapshot.json
  packages/loaders/package.json
  packages/modals/.size-snapshot.json
  packages/modals/package.json
  packages/notifications/.size-snapshot.json
  packages/notifications/package.json
  packages/pagination/.size-snapshot.json
  packages/pagination/package.json
  packages/tables/package.json
  packages/tabs/.size-snapshot.json
  packages/tabs/package.json
  packages/tags/.size-snapshot.json
  packages/tags/package.json
  packages/theming/package.json
  packages/tooltips/.size-snapshot.json
  packages/tooltips/package.json
  packages/typography/.size-snapshot.json
  packages/typography/package.json
  packages/utilities/package.json
Due: prettier-package-json --write

chore(changelog): add v8.49.1 [skip ci]
  CHANGELOG.md
Due: none

fix(datepickers): fix React state synchronization bug
  packages/datepickers/.size-snapshot.json
  packages/datepickers/src/elements/DatepickerRange/DatepickerRange.tsx
  packages/datepickers/src/elements/DatepickerRange/components/End.tsx
  packages/datepickers/src/elements/DatepickerRange/components/Month.tsx
  packages/datepickers/src/elements/DatepickerRange/components/Start.tsx
  packages/datepickers/src/elements/DatepickerRange/utils/datepicker-range-reducer.ts
  packages/datepickers/src/elements/DatepickerRange/utils/useDatepickerRangeContext.ts
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

Remove unnecessary onChange prop
  packages/datepickers/.size-snapshot.json
  packages/datepickers/src/elements/DatepickerRange/components/Calendar.tsx
  packages/datepickers/src/elements/DatepickerRange/components/Month.tsx
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

fix(datepickers): fix React state synchronization bug (#1309)
  packages/datepickers/.size-snapshot.json
  packages/datepickers/src/elements/DatepickerRange/DatepickerRange.tsx
  packages/datepickers/src/elements/DatepickerRange/components/Calendar.tsx
  packages/datepickers/src/elements/DatepickerRange/components/End.tsx
  packages/datepickers/src/elements/DatepickerRange/components/Month.tsx
  packages/datepickers/src/elements/DatepickerRange/components/Start.tsx
  packages/datepickers/src/elements/DatepickerRange/utils/datepicker-range-reducer.ts
  packages/datepickers/src/elements/DatepickerRange/utils/useDatepickerRangeContext.ts
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

Updates [skip ci]
  iframe.html
  main.464a258a.iframe.bundle.js
  main.b3423051.iframe.bundle.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

chore(release): publish
  lerna.json
  packages/accordions/package.json
  packages/avatars/package.json
  packages/breadcrumbs/.size-snapshot.json
  packages/breadcrumbs/package.json
  packages/buttons/package.json
  packages/chrome/package.json
  packages/colorpickers/package.json
  packages/datepickers/.size-snapshot.json
  packages/datepickers/package.json
  packages/dropdowns/package.json
  packages/forms/package.json
  packages/grid/package.json
  packages/loaders/package.json
  packages/modals/package.json
  packages/notifications/.size-snapshot.json
  packages/notifications/package.json
  packages/pagination/package.json
  packages/tables/.size-snapshot.json
  packages/tables/package.json
  packages/tabs/package.json
  packages/tags/.size-snapshot.json
  packages/tags/package.json
  packages/theming/package.json
  packages/tooltips/package.json
  packages/typography/.size-snapshot.json
  packages/typography/package.json
  packages/utilities/package.json
Due: prettier-package-json --write

chore(changelog): add v8.49.2 [skip ci]
  CHANGELOG.md
Due: none

Updates [skip ci]
  iframe.html
  main.1a4799cb.iframe.bundle.js
  main.464a258a.iframe.bundle.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

Re-situate under src/types folder
  packages/tooltips/src/elements/Tooltip.spec.tsx
  packages/tooltips/src/elements/Tooltip.tsx
  packages/tooltips/src/index.ts
  packages/tooltips/src/styled/StyledTooltip.ts
  packages/tooltips/src/types/index.ts
  packages/tooltips/src/utils/gardenPlacements.spec.ts
  packages/tooltips/src/utils/gardenPlacements.ts
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

chore(demo): add StrictMode decorator
  .storybook/preview.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

Fix lint error
  .storybook/preview.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

Fix lint-staged for eslint coverage
  .lintstagedrc
Due: none

Path conditions:
  stylelint: any of: *.{js,ts,tsx}
  eslint: any of: *.{js,ts,tsx}
  jest --config=utils/test/jest.config.js --bail --findRelatedTests: any of: *.{js,ts,tsx}
  prettier --write: any of: *.{js,ts,tsx}
  prettier-package-json --write: any of: **/package.json
